<li id="todo-row-1">
  <span class="todo-title">Read the task brief</span>
  <button type="button" on-click="#todo-list.render({swap: 'delete', target: '#todo-row-1'})" aria-label="Remove task">&times;</button>
</li>
<li id="todo-row-2">
  <span class="todo-title">Try the rendered row</span>
  <button type="button" on-click="#todo-list.render({swap: 'delete', target: '#todo-row-2'})" aria-label="Remove task">&times;</button>
</li>
<li id="todo-row-3">
  <span class="todo-title">Delete me</span>
  <button type="button" on-click="#todo-list.render({swap: 'delete', target: '#todo-row-3'})" aria-label="Remove task">&times;</button>
</li>
